.forecast-summary__icon {
    font-size: 50px;
    margin: 15px;
}

.forecast-summary {
    line-height: 25px;
}

button {
    border: none;
    background-color: #eceef1;
    text-decoration: underline;
}